@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Monster Job Postings</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Created by:</h2>
        <p>
            <ul>
                <li>Ron Volis</li>
                <li>Karish Thangarajah</li>
                <li>David Mascioli</li>
                <li>Gottumukkala Manoj</li>
            </ul>
        </p>
    </div>
</div>